@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
  * {

    scroll-behavior: smooth !important;
  }
}

//Fonts embeded
@font-face {
  font-family: "logo";
  src: url('../src/assets/AnandaBlackPersonalUseRegular-rg9Rx.ttf');
}